<link rel="icon" type="image/png" href="static/favicon.png">
<title>DWAS Manager</title>

<link rel="stylesheet" href="/static/style.css">
<script src="/static/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/codemirror/theme/seti.css">
<script src="/static/codemirror/mode/yaml/yaml.js"></script>

<div id="main">
    <div id="apps"></div>
    <div id="editapp" class="hidden"></div>
</div>

<script src="/static/app.js"></script>
