html {
    background-color: #fff;
    color: #000;
    margin: 0;
}
body {
    margin: 0;
}

.hidden {
    display: none;
}

#main {
    min-height: 100%;
}
#apps {
    min-height: calc(100% - 1em);
    padding-bottom: 1em;
}
#editapp {
    padding: .5em;
}

.app {
    display: inline-grid;
    width: 128px;
    height: 128px;
    margin: 9px;
    cursor: pointer;
    overflow: hidden;
}
.app img {
    object-fit: contain;
    max-width: 64px;
    max-height: 64px;
    width: 64px;
    height: 64px;
    margin: 1em auto;
    margin-bottom: .5em;
    border-radius: 4px;
}
.app .name {
    text-align: center;
    display: block;
    width: 100%;
    margin: auto;
    height: 100%;
}

#ContextMenu {
    display: grid;
    width: 12em;
    position: fixed;
    border: 1px solid #eee;
    box-shadow: 3px 3px 3px rgba(1,1,1,.3);
}
#ContextMenu a {
    font-size: 10pt;
    color: #000;
    background: #fff;
    padding: .5em 1em;
    text-decoration: none;
    cursor: pointer;
}
#ContextMenu a:hover {
    background: #eee;
}

.CodeMirror {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1em;
}

button {
    color: inherit;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em 1.5em;
    cursor: pointer;
    font-size: 12pt;
    min-width: 8em;
    margin: 0;
}
button + button {
    margin-left: .5em;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #222;
        color: #fff;
    }

    #ContextMenu {
        border: 1px solid #222;
    }
    #ContextMenu a {
        color: #fff;
        background: #333;
    }
    #ContextMenu a:hover {
        background: #444;
    }

    button {
        background-color: #333;
        border: 1px solid #222;
    }
}

